<%- include('../partials/admin-header') %>
<style>
  .square-image-wrap {
    text-align: center;
    display: flex;
    justify-content: left;
    column-gap: 15px;
  }
  .square-image-wrap label {
    cursor: pointer;
  }

  .square-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    margin-top: 10px;
    border: 1px solid #eee;
  }
</style>
<section class="content-main">
  <form
    action="/admin/editProduct/<%= product._id %>"
    id="validateForm"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div>
        <div class="content-header">
          <h2 class="content-title">Edit Product</h2>
          <div>
            <button class="btn btn-md rounded font-sm hover-up" type="submit">
              Update Product
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Basic</h4>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <label for="product_name" class="form-label">Product name</label>
              <input
                type="text"
                placeholder="Type here"
                value="<%= product.productName %>"
                class="form-control"
                name="productName"
                id="product_name"
              />
              <span class="text-danger" id="nameError"></span>
            </div>

            <div class="mb-4">
              <label for="product_name" class="form-label">Color</label>
              <input
                type="text"
                placeholder="Type here"
                class="form-control"
                value="<%= product.productColor %>"
                name="productColor"
                id="product_color"
              />
              <span class="text-danger" id="colorError"></span>
            </div>
            <div class="mb-4">
              <label class="form-label">Full description</label>
              <textarea
                placeholder="Type here"
                class="form-control"
                rows="4"
                name="productDescription"
                id="product_description"
              ></textarea>
              <span class="text-danger" id="descError"></span>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Price</label>
                  <div class="row gx-2">
                    <input
                      placeholder="$"
                      type="text"
                      class="form-control"
                      value="<%= product.productPrice %>"
                      name="productPrice"
                      id="prodPrice"
                    />
                    <span class="text-danger" id="priceError"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Product quantity</label>
                  <input
                    placeholder="quantity"
                    type="text"
                    class="form-control"
                    value="<%= product.productQuantity %>"
                    name="productQuantity"
                    id="product_quantity"
                  />
                  <span class="text-danger" id="quantityError"></span>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Status</label>
              <select
                class="form-select"
                value="<%= product.productStatus %>"
                name="productStatus"
              >
                <option>listed</option>
                <option>Unlisted</option>
              </select>
            </div>
          </div>
        </div>
        <!-- card end// -->
      </div>
      <div class="col-lg-5">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
          <div class="card-body">
            <div>
              <label class="form-label">Images</label>
              <input
                class="form-control"
                type="file"
                name="productImage"
                multiple
              />
              <h6 class="mt-3 mb-3">Select Featured Image</h6>
              <div class="square-image-wrap">
                <% product.productImage.forEach(function(image, index) { %>
                <label>
                  <input type="radio" name="featuredImage" value="<%= index %>"
                  <% if (parseInt(index) === parseInt(product.featuredImage)) {
                  %>checked<% } %>>
                  <span class="text-danger" id="imageError"></span>
                  <img
                    src="/uploads/<%= image %>"
                    class="square-image"
                    id="imgView"
                  />
                </label>
                <% }) %>
              </div>
            </div>
            <input
              type="text"
              name="productImage"
              value="<%= product.productImage[0]  %>"
              id="viewBrandId"
              onchange="viewImage(event)"
              hidden
            />
          </div>
        </div>
        <!-- card end// -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Category</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <% viewCategory.forEach(function(category) { %>
                <div class="form-check">
                  <input
                    onclick="categoryCheck('<%= category._id %>')"
                    class="form-check-input"
                    type="checkbox"
                    value="<%= category._id %>"
                    id="product-cat<%= category._id %>"
                    name="product-cat"
                  />
                  <label
                    class="form-check-label"
                    for="product-cat-<%= category._id %>"
                  >
                    <%= category.CategoryName %>
                  </label>
                </div>
                <% }) %>
                <input
                  type="text"
                  name="viewCategoryId"
                  value=""
                  id="viewCategoryId"
                  hidden
                />
              </div>
            </div>
            <!-- row.// -->
          </div>
        </div>
        <!-- card end// -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Brand</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <label class="form-label">Brand</label>
                <% viewBrand.forEach(function(brand) { %>

                <div class="form-check">
                  <input
                    onclick="brandCheck('<%= brand._id %>')"
                    class="form-check-input"
                    type="checkbox"
                    value="<%= brand._id %>"
                    id="product-bnd<%= brand._id %>"
                    name="product-bnd"
                  />
                  <label
                    class="form-check-label"
                    for="product-bnd <%= viewBrand._id %>"
                  >
                    <%= brand.brandName %>
                  </label>
                </div>

                <% }) %>
                <input
                  type="text"
                  name="viewBrandId"
                  value=""
                  id="viewBrandId"
                  hidden
                />
              </div>
            </div>
            <!-- row.// -->
          </div>
        </div>
      </div>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function viewImage(event) {
      document.getElementById("imgView").src = URL.createObjectURL(
        event.target.files[0]
      );
    }
  </script>
  <script>
    const categoryId = "<%= product.category %>";
    const categoryInput = document.getElementById("viewCategoryId");
    const checkboxes = document.querySelectorAll('input[name="product-cat"]');

    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("click", () => {
        if (checkbox.checked) {
          checkboxes.forEach((otherCheckbox) => {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.disabled = true;
            }
          });
          categoryInput.value = checkbox.value;
        } else {
          checkboxes.forEach((otherCheckbox) => {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.disabled = false;
            }
          });
          categoryInput.value = "";
        }
      });
    });

    function selectCategory(categoryId) {
      checkboxes.forEach((checkbox) => {
        if (checkbox.value === categoryId) {
          checkbox.checked = true;
          checkbox.disabled = false;
          categoryInput.value = categoryId;
        } else {
          checkbox.checked = false;
          checkbox.disabled = true;
        }
      });
    }

    selectCategory(categoryId);

    const brandId = "<%= product.brand %>";
    const brandInput = document.getElementById("viewBrandId");
    const checkbrand = document.querySelectorAll('input[name="product-bnd"]');

    checkbrand.forEach((checkbox) => {
      checkbox.addEventListener("click", () => {
        if (checkbox.checked) {
          checkbrand.forEach((otherCheckbox) => {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.disabled = true;
            }
          });
          brandInput.value = checkbox.value;
        } else {
          checkbrand.forEach((otherCheckbox) => {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.disabled = false;
            }
          });
          brandInput.value = "";
        }
      });
    });

    function selectBrand(brandId) {
      checkbrand.forEach((checkbox) => {
        if (checkbox.value === brandId) {
          checkbox.checked = true;
          checkbox.disabled = false;
          brandInput.value = brandId;
        } else {
          checkbox.checked = false;
          checkbox.disabled = true;
        }
      });
    }

    selectBrand(brandId);

    const form = document.querySelector("#validateForm");

    const nameInput = document.getElementById("product_name");
    const descInput = document.getElementById("product_description");
    const colorInput = document.getElementById("product_color");

    const priceInput = document.getElementById("prodPrice");
    const qtyInput = document.getElementById("product_quantity");
    const imageInput = document.getElementById("imgView");

    const nameError = document.getElementById("nameError");
    const descError = document.getElementById("descError");
    const colorError = document.getElementById("colorError");
    //  const imageError = document.getElementById("imageError");

    const priceError = document.getElementById("priceError");
    const quantityError = document.getElementById("quantityError");

    // Regular expressions for validation
    const nameRegex = /^[A-Za-z\s]+$/;
    const descRegex = /^[A-Za-z\s]+$/;
    const priceRegex = /^\d+(\.\d{1,2})?$/;
    const qtyRegex = /^\d+$/;

    form.addEventListener("submit", (e) => {
      e.preventDefault();

      let isValid = true;

      if (nameInput.value.trim() === "") {
        nameError.innerHTML = "Please enter the product title";
        isValid = false;
      } else if (!nameRegex.test(nameInput.value.trim())) {
        nameError.innerHTML =
          "Please enter a valid product title (only alphanumeric characters and spaces are allowed)";
        isValid = false;
      } else if (
        nameInput.value.trim().length < 5 ||
        nameInput.value.trim().length > 50
      ) {
        nameError.innerHTML =
          "Product title must be between 5 and 50 characters";
        isValid = false;
      } else {
        nameError.innerHTML = "";
      }

      if (descInput.value.trim() === "") {
        descError.innerHTML = "Please enter the product description";
        isValid = false;
      } else if (!descRegex.test(descInput.value.trim())) {
        descError.innerHTML =
          "Please enter a valid product description (only alphanumeric characters and spaces are allowed)";
        isValid = false;
      } else {
        descError.innerHTML = "";
      }
      if (colorInput.value.trim() === "") {
        colorError.textContent = "Color is required.";
        colorError.style.display = "block";
        isValid = false;
      }

      if (priceInput.value.trim() === "") {
        priceError.innerHTML = "Please enter the product price";
        isValid = false;
      } else if (!priceRegex.test(priceInput.value.trim())) {
        priceError.innerHTML =
          "Please enter a valid product price (e.g., 10 or 10.99)";
        isValid = false;
      } else {
        priceError.innerHTML = "";
      }
      //  if (imageInput.files.length === 0) {
      //                    imageError.innerHTML = 'Please select an image';
      //                    isValid = false;
      //                } else {
      //                    imageError.innerHTML = '';
      //                }
      if (qtyInput.value.trim() === "") {
        quantityError.innerHTML = "Please enter the product quantity";
        isValid = false;
      } else if (!qtyRegex.test(qtyInput.value.trim())) {
        quantityError.innerHTML =
          "Please enter a valid product quantity (only positive whole numbers are allowed)";
        isValid = false;
      } else {
        quantityError.innerHTML = "";
      }

      if (isValid) {
        form.submit();
      }
    });
  </script>
</section>
<!-- content-main end// -->
<%- include('../partials/admin-footer') %>
