<%- include('../partials/admin-header') %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%= Order._id %></p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b><%= Order.orderDate.toISOString().split('T')[0] %></b>
                    </span> <br>
                    <small class="text-muted">Order ID:  <%= Order._id %></small>
                </div>
                <!-- <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="orderStatus">
                      <option>Change status</option>
                      <option <%= Order.orderStatus==='Shipped' ? 'selected' : '' %>>Shipped</option>
                      <option <%= Order.orderStatus==='Delivered' ? 'selected' : '' %>>Delivered</option>
                
                     
                    </select>
                    <button class="btn btn-primary" id="saveBtn" onclick="changeStatus('<%= Order._id %>')">Save</button>
                  </div> -->
                  
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%= Order.user.name %> <br> <%= Order.user.email %><br>  +91<%= Order.user.phone %> 
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method:<%= Order.paymentMethod %>  <br> Status:<strong> <%= Order.orderStatus %> </strong>
                            </p>
                            <!-- <a href="#">Download info</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                <%=Order.address[0].firstname%> <%=Order.address[0].lastname%><br>
                                    <%=Order.address[0].address%> <br>
                                        <%=Order.address[0].city%> <br>
                                            <%=Order.address[0].state%> <br>
                                                <%=Order.address[0].zip%> <br> 
                            </p>
                            <!-- <a href="/myProfile/<%= Order.user._id %>">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                  
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% for( let i = 0; i < Order.orderedItems.productId.length; i++ ) { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/uploads/<%= Order.orderedItems.productId[i].productImage[0] %>" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"> <%= Order.orderedItems.productId[i].productName %> </div>
                                                </a>
                                            </td>
                                            <td>Rs.<%= Order.orderedPrice %></td>
                                          
                                          
                                            <td class="text-end">
                                                 <%= Order.orderedPrice %>
                                              </td>
                                              </tr>
                                       
                                       <% } %>
                                </tr>
                                
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>Rs.<%= Order.totalAmount %></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>Rs. 0.00</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">Rs.<%= Order.totalAmount %></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                               <dd> <% if (Order.orderStatus == 'placed') { %>
                                                    <span class="badge rounded-pill alert-success text-success">
                                                      <%= Order.orderStatus %>
                                                    </span>
                                                  <% } else if (Order.orderStatus == 'cancelled') { %>
                                                    <span class="badge rounded-pill alert-danger text-danger">
                                                      <%= Order.orderStatus %>
                                                    </span>
                                                    <% } else if (Order.orderStatus == 'delivered') { %>
                                                        <span class="badge rounded-pill alert-success text-success">
                                                          <%= Order.orderStatus %>
                                                        </span>
                                                  <% } else { %>
                                                    <span class="badge rounded-pill alert-warning text-warning">
                                                      <%= Order.orderStatus %>
                                                    </span>
                                                  <% } %>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                    <% if (Order.orderStatus=='placed') { %>
                     
                    
                    <td><button type="button" onclick="cancelOrder('<%= Order._id%>')"
                        class="btn  btn-danger">Cancel</button></td>
                        <td><button type="button" onclick="deliverOrder('<%= Order._id%>')"
                            class="btn btn-dark">Deliver</button></td>
                            <td><button type="button" onclick="shipOrder('<%= Order._id%>')"
                                class="btn btn-dark">Shipped</button></td>
                            <% } %>
                </div> <!-- col// -->
                
                </div> <!-- col// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->
<%- include('../partials/admin-footer') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
    <script>
        function cancelOrder(orderId) {
    
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, proceed to cancel!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
    
                        type: 'put',
                        url: `/admin/cancelOrder/${orderId}`,
    
    
                        success: function (response) {
                           
                            if (response.status) {
                                Swal.fire(
                                    'Cancelled!',
                                    'Order has been Cancelled.',
                                    'success'
                                )
                                setTimeout(() => {
                                    window.location.reload()
                                    
    
                                }, 1200)
                            } else {
                                console.log(response.response);
    
                            }
                        },
                        error: function (status, error) {
    
                            console.log(error);
                        }
                    });
                }
            })
        }
        </script>
        <script>
            function deliverOrder(orderId) {
        
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, proceed to deliver!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
        
                            type: 'put',
                            url: `/admin/deliverOrder/${orderId}`,
        
        
                            success: function (response) {
                               
                                if (response.status) {
                                    Swal.fire(
                                        'Delivered!',
                                        'Order has been Delived.',
                                        'success'
                                    )
                                    setTimeout(() => {
                                        window.location.reload()
                                        
        
                                    }, 1200)
                                } else {
                                  
                                    console.log(response.response);
        
                                }
                            },
                            error: function (status, error) {
        
                                console.log(error);
                            }
                        });
                    }
                })
            }
            </script>