
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                <% var bannerList %>
                data-setbg="/uploads/<%= bannerList[0].image[0] %>">
                <div class="categories__text">
                    
                    <p >Style is automatic</p>
                    <a href="/product">Shop now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="/uploads/<%= bannerList[0].image[1] %>">
                        <div class="categories__text">
                            
                            
                            <a href="/product">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="/uploads/<%= bannerList[0].image[2] %>">
                        <div class="categories__text">
                           
                            
                            <a href="/product">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="/uploads/<%= bannerList[0].image[3] %>">
                        <div class="categories__text">
                           
                            <a href="/product">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="/uploads/<%= bannerList[0].image[4] %>">
                        <div class="categories__text">
                            
                            <a href="/product">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
  