<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            
        </div>
        
        <div class="row property__gallery">
            <% product.forEach(function(product){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/uploads/<%= product.productImage[product.featuredImage || 0] %>">
                        <!-- <div class="label new">New</div> -->
                        <ul class="product__hover">
                            <li><a href="/uploads/<%= product.productImage[product.featuredImage || 0] %>" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/productDetails/<%=product._id %>"><%= product.productName%></a></h6>
                      
                        <div class="product__price"> &#x20B9 <%= product.productPrice %></div>
                        
                    </div>
                </div>
            </div>
            <% })%>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-3.png">
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-3.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                       
                        <div class="product__price">$ 49.0</div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix accessories">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-2.png">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-2.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        
                        <div class="product__price">$ 59.0</div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-3.png">
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-3.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        
                        <div class="product__price">$ 59.0</div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-1.png">
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-1.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Fit micro corduroy shirt</a></h6>
                        
                        <div class="product__price">$ 59.0</div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-4.png">
                        <div class="label sale">Sale</div>
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-4.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Tropical Kimono</a></h6>
                        
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-3.png">
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-3.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Contrasting sunglasses</a></h6>
                       
                        <div class="product__price">$ 59.0</div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="../../../images/pr-1.png">
                        <div class="label">Sale</div>
                        <ul class="product__hover">
                            <li><a href="../../../images/pr-1.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Water resistant backpack</a></h6>
                        
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                        <a href="/productDetails" class="btn btn-dark">Buy</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>